<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <TargetFramework>net10.0</TargetFramework>
    <RootNamespace>{{ project_name }}</RootNamespace>
  </PropertyGroup>
  <ItemGroup>
    <PackageReference Include="VintageStoryModKit.Build" Version="{{ vsmk_version }}" />
{% if settings %}
    <PackageReference Include="VintageStoryModKit.Settings" Version="{{ vsmk_version }}" />
{% endif %}
  </ItemGroup>
</Project>
